html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.grid{
    color: rgb(255, 0, 128);
    display: grid;
    text-align: center;
    grid-template-columns: 17vw auto 17vw;
    grid-gap: 0.2em;
}
body
{
    background-image: url("../images/pink.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(17, 59, 138);
    font-size:x-large;
}
.navbody
{
    background-image:none;
}

header, footer{
    grid-column: 1 / span 3;
    height: 15vh;
    background-image: url("../images/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    position: static;
}
nav, main, aside{
    height: 100%;
    width: auto;
}

@media(max-width: 600px)
{
    nav, main, aside
    {
        grid-column: 1 / span 3;
    }
}

.myflex-container {
    display: flex;
    flex-direction: column;
    background-color: darkcyan;
}
main
{
    background-image: url("../images/background3.avif");
    background-repeat: no-repeat;
    background-size: cover;
}
.sidebar-left
{
    background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
aside
{
    background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.search
{
    display: flex;
    top: 6vh;
    right: 20vh;
    position: absolute;
    font-size: larger;
}
.bild{
    height: 25%;
    width: 25%;
    margin: 1em
}

.floating{
    float: left;
}
.globalnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    border: 1px solid #555;
    text-align: center;
    justify-content: center;
    list-style: none;
}

.globalnav a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.globalnav  {
    text-align: center;
    border-bottom: 1px solid #555;
    text-align: center;
    justify-content: center;
    background-color: pink;
    width: 100%;
}

.globalnav :last-child {
    border-bottom: none;
}

.globalnav  a.active {
    background-color: #4CAF50;
    color: white;
}

.globalnav  a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.card img
{
    height: 200px;
    max-width: 200px;
}
.personal
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/banner.jpg");
}

.card
{
    position: relative;
    background-color: pink;
    width: 8.66em;
    margin: 2vw;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid black;
    padding: 4px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.name
{
    color: red;
    font-size: 32px;
}

.card img
{
    border: hotpink;
    border-style:outset;
    border-width: 5px;
}
.card .location
{
    text-align: left;
    padding: 0.5em;
    padding-bottom: 3em;
}

.card input
{
    background-color: hotpink;
    color: white;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border: none;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 12px;
}

.card input:hover
{
    opacity: 0.7;
}

@media (max-width: 1024px)
{
    .personal
    {
        flex-direction: column;
    }
    .card
    {
        width: 90%;
        margin: auto;
        margin-bottom: 1em;
    }
}