
.navigation li
{
    display: block;
}

.navigation a
{
    display:grid;
    padding: 0.5em;
    margin: 1px;
    color: red;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(166, 182, 235, 0.9);
    text-align: center;

}
.navigation a:hover
{
    background-color: rgba(235, 166, 166, 0.9);;
}