.table
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: brown;
    font-size: 2em;
    border-color: green;
}
.gridtable
{
    display: grid;
    text-align: center;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
    grid-gap: 0.42em;
    text-align: center;
}
.divgrid
{
    border-style: groove;
    border-color: rgb(134, 134, 226);
}